@font-face {
    font-family: "Classyvogue";
    src: url("Classyvogueregular.ttf") format("truetype");}

    @font-face {
        font-family: "Womack";
        src: url("Womack.ttf");
    }
    @font-face {
        font-family: "Griffins";
        src: url("Griffiths.otf");}
  
body{
    background-color: #E3E0DC;
}

*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;}


header{
    text-align: center;
    color: #ffff;
    background-image:url(img_fundoo.png) ;
   
    height: 469.5px;


}

header .home, .agenda{
    font-family: "Classyvogue";
    font-size: 30px;
    font-weight: 10;
}

header .MixLix {
    font-family: "Womack";
    font-size: 55px;
}

.container{


        display: flex;
        
        flex-direction: row;
        
        justify-content: flex-end;
        
        
}

header .home{
    padding-top: 38px;
    padding-left: 150px;
    
}
header .agenda{
    padding-top: 38px;
    padding-right: 150px;
    
   
}

header .MixLix{
    padding-top: 16px;
    margin-left: 507.83px;
    margin-right: 347.83px;
}

.frase{
    font-family: "Griffins";
    text-align: center;
    padding: 69px 0px 55px 0px;
    font-size: 40px;
    line-height: 1.2;

}

.container .fotos{
    display: flex;

flex-direction: row;



}

.menu{
    font-family: "Griffins";
    padding-right: 130px;
    padding-top: 50px;
    padding-left: 1150px;
}

button{
    padding: 20px 0px 20px 0px;
    height: 60px;
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #E3E0DC;
    border: 2px solid #878787;
    text-align: center;
    
    
}

body{
    overflow-x: hidden;
}

img{
    margin-left: 55px;
}

.apresentacao img{
    margin-right: 35px;
    padding-left:48px;

}

.titulo{
    font-family: "Womack";
    font-size: 70px;
    padding-bottom: 38px;
    padding-top: 130px;
}

.texto{
    font-family: "Griffins";
    font-size: 40px;
}

.textos{
    padding-right: 120px;
    text-align: justify;
    
}