@font-face {
    font-family: "DM";
    src: url(font/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "Col";
    src: url(font/coolvetica\ rg.otf);
}

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

header{
    font-family: "DM";
    padding: 25px 100px;
}

a{
    text-decoration: none;
    color: #565656;
    font-size: 20px;
}

.esp{
    display: flex;
    justify-content: space-between;
    width: 230px;
}



.logo{
    font-family: "DM";
    font-size: 21px;
    color: white;
}

.sabores{
    font-family: "Col";
    font-size: 55px;
    color: white;
}

.banner button{
    font-size: 16px;
    height: 38px;
    width: 215px;
    border-radius: 17px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 22px 35px;
    font-family: "DM";
}

.pratos{
    display: flex;
   align-items: center;
   justify-content: center;
   font-family: "DM";
   font-size: 40px;
   padding-top: 70px;
   margin-bottom: 30px;
}


.banner{
    background-image: url(img/NBanner.png);
    background-size: cover;
    
    padding: 250px 0px 80px 85px;
    
    
}

.nome{
    font-family: "Col";
    font-size: 26px;
    text-align: justify;
    margin-top: 40px;
}


.opcoes{
    display: flex;
    flex-direction: row;
    text-align: center;
    
    justify-content: center;
    margin: 0px 100px 40px 100px;
}

.menu{
    display: flex;
    justify-content: end;
    align-items: center;
    
    padding: 22px 35px;
    font-family: "DM";
    margin: 50px 30px 70px 0px;
   
}

.menu button{
    background-color: white;
    font-size: 17px;
}

.hr{
    
    height: 0.5px;
   
    
}

span{
    color: #016758;
}
.sobre{
    padding: 90px 170px;
    
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 50px;
    font-family: "DM";
}

.textosobre{
    font-size: 25px;
    text-align: center;
}

.Mix{
    font-size: 30px;
    margin-bottom: 20px;
}

.hr{
    background-color: rgb(0, 0, 0);
    margin-bottom: 48px;
    width: 1520px;
    display: flex;
    justify-content: center;
}

.avaliacoes{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}

.avaliacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 15px;
    background-color: #FAFAFA;
    padding: 100px 55px 80px 55px;
    margin-right: 29px;
}

.avaliacao p{
    text-align: center;
    margin-bottom: 70px;
    font-size: 20px;
    font-family: "DM";
}

.avaliacoes img{
    height: 30px;
}

.avaliacao img{
    height: 17px;
}

* {
    scrollbar-width: thin; 
    scrollbar-color: #647b6a #ffffff;
  }

  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 95px;
    padding: 50px 0px 100px 0px;
  }

  footer a {
    margin: 63px;
    font-size: 25px;
    font-family: "DM";
  }

  footer .hr{
    display: flex;
    justify-content: center;
    width: 1520px;
    margin-bottom: 30px;
    margin-top: 40px;

  }
footer img{
    height: 40px;
}

#pr{
    width: 280px;
   margin: 23px 610px 62px 610px;
 
    
}

.quadrado{
    margin: 0px 55px;
}

.conheca{
    padding: 30px 100px;
    font-size: 55px;
    font-family: "Col";
    color: #272727;
    margin-bottom: 140px;
    margin-top: 60px;
}

.preco{
    font-size: 21px;
    font-family: "DM";
    text-align: left;
}

.espaco{
    height: 100px;
}

.sobremesas{
    font-family: "DM";
    font-size: 35px;
    margin: 100px 130px 60px 130px;
}

#ult{
    justify-content: flex-start;
}

.faca{
 
    font-size: 60px;
    font-family: "Col"
}

.tudo{
    display: flex;
    flex-direction: row;
}

.pala{
    display: flex;
    flex-direction: column;
    margin: 190px 10px 0px 100px;
}
.informacoes{
    display: flex;
    flex-direction: column;
}

.pala p{
    margin-bottom: 50px;
}

#no, #ne, #assunto{
    height: 30px;
    border-radius: 10px;
    padding: 0px 10px;
    border: 0.5px solid black;
    margin-top: 30px;

}

.tudo img{
    height: 600px;
}

.botao{
    display: flex;
    align-items: end;
    
    text-align: end;
    padding-bottom: 100px;
    margin: 0px 100px 0px 40px;
}

.botao button{
    height: 35px;
    width: 140px;
    font-size: 12px;
    border-radius: 15px;
    background-color: black;
    color: white;
}